<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <div th:replace="~{/layout/include:: head/link}"></div>
    <title>Trang sinh viên</title>
</head>
<!--begin::Body-->
<body id="kt_body"
      class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed toolbar-tablet-and-mobile-fixed aside-enabled aside-fixed"
      style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">
<!--begin::Root-->
<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="page d-flex flex-row flex-column-fluid">
        <!--begin::Aside-->
        <div th:replace="~{/layout/aside::aside}"></div>
        <!--end::Aside-->
        <!--begin::Wrapper-->
        <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
            <!--begin::Header-->
            <div th:replace="~{/layout/header::header}"></div>
            <!--end::Header-->
            <!--begin::Content-->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <!--begin::Toolbar-->
                <div class="toolbar" id="kt_toolbar">
                    <!--begin::Container-->
                    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                        <!--begin::Page title-->
                        <div data-kt-place="true" data-kt-place-mode="prepend"
                             data-kt-place-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
                             class="page-title d-flex align-items-center me-3 flex-wrap mb-5 mb-lg-0 lh-1">
                            <!--begin::Title-->
                            <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">Trang chủ
                                <!--begin::Separator-->
                                <span class="h-20px border-gray-200 border-start ms-3 mx-2"></span>
                                <!--end::Separator-->
                                <!--begin::Description-->
                                <small class="text-muted fs-7 fw-bold my-1 ms-1">#WFH-SP-21</small>
                                <!--end::Description--></h1>
                            <!--end::Title-->
                        </div>
                        <!--end::Page title-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Toolbar-->
                <!--begin::Post-->
                <div class="post d-flex flex-column-fluid" id="kt_post">
                    <!--begin::Container-->
                    <div id="kt_content_container" class="container">
                        <div class="row g-5 g-xl-8">

                            <!--begin::Col-->
                            <div class="col-xl-12">
                                <!--begin::Tables Widget 4-->
                                <div class="card card-xl-stretch mb-5 mb-xl-8">
                                    <!--begin::Header-->
                                    <div class="card-header border-0 pt-5 pb-5">
                                        <h3 class="card-title align-items-start flex-column">
                                            <span class="card-label fw-bolder fs-3 mb-1">Khóa học</span>
                                            <span class="text-muted mt-1 fw-bold fs-7" th:text="|Tổng số ${allC.size()} khóa học|"></span>
                                        </h3>
                                        <div class="card-toolbar">
                                            <ul class="nav">
                                                <li class="nav-item">
                                                    <a class="nav-link btn btn-sm btn-color-muted btn-active btn-active-light-primary fw-bolder px-4 me-1 active" data-bs-toggle="tab" href="#kt_table_widget_4_tab_1">Tất cả</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link btn btn-sm btn-color-muted btn-active btn-active-light-primary fw-bolder px-4 me-1" data-bs-toggle="tab" href="#kt_table_widget_4_tab_2">Khóa học đã đăng ký</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link btn btn-sm btn-color-muted btn-active btn-active-light-primary fw-bolder px-4" data-bs-toggle="tab" href="#kt_table_widget_4_tab_3">Khóa học chưa đăng ký</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--end::Header-->
                                    <!--begin::Body-->
                                    <div class="card-body py-3 content">
                                        <div class="tab-content">
                                            <!--begin::Tap pane-->
                                            <div class="tab-pane fade active show" id="kt_table_widget_4_tab_1">
                                                <!--begin::Row-->
                                                <div class="row g-5 g-xl-8">
                                                    <th:block th:if="${allC != null}">
                                                        <div class="col-xl-4" th:each="course, iState : ${allC}">
                                                            <!--begin:: Widget 1-->
                                                            <div class="card bgi-no-repeat card-xl-stretch mb-xl-8">
                                                                <!--begin::Body-->
                                                                <div class="card-body d-flex flex-column">
                                                                    <div style="min-height: 140px">
                                                                    <a th:href="@{/student/view(id=*{course.courseId})}" class="card-title fw-bolder text-muted text-hover-primary fs-4" th:text="|*{course.shortName} - *{course.fullName}|"></a>
                                                                    <div class="fw-bolder text-primary my-6">
                                                                        <span th:if="*{course.startDate != null}" th:text="${#dates.format(course.startDate,'dd-MM-yyyy HH:mm')}"></span>
                                                                        <span th:if="*{course.endDate != null}" th:text="| - ${#dates.format(course.endDate,'dd-MM-yyyy HH:mm')}|"></span>
                                                                    </div>
                                                                    <p class="text-dark-75 fw-bold fs-5 m-0 text-truncate" th:text="${course.description.length() != 0 ? course.description : 'Không có mô tả'}"></p>
                                                                    </div>
                                                                    <div class="pt-5">
                                                                        <a th:href="@{/student/view(id=*{course.courseId})}" class="btn btn-primary w-100 py-3">Truy cập</a>
                                                                    </div>
                                                                </div>
                                                                <!--end::Body-->
                                                            </div>
                                                            <!--end:: Widget 1-->
                                                        </div>
                                                    </th:block>
                                                </div>
                                                <!--end::Row-->
                                            </div>
                                            <!--end::Tap pane-->
                                            <!--begin::Tap pane-->
                                            <div class="tab-pane fade" id="kt_table_widget_4_tab_2">
                                                <!--begin::Row-->
                                                <div class="row g-5 g-xl-8">
                                                    <th:block th:if="${enrollC != null}">
                                                        <div class="col-xl-4" th:each="course, iState : ${enrollC}">
                                                            <!--begin::Statistics Widget 1-->
                                                            <div class="card bgi-no-repeat card-xl-stretch mb-xl-8">
                                                                <!--begin::Body-->
                                                                <div class="card-body d-flex flex-column">
                                                                    <div style="min-height: 140px">
                                                                        <a th:href="@{/student/view(id=*{course.courseId})}" class="card-title fw-bolder text-muted text-hover-primary fs-4" th:text="|*{course.shortName} - *{course.fullName}|"></a>
                                                                        <div class="fw-bolder text-primary my-6">
                                                                            <span th:if="*{course.startDate != null}" th:text="${#dates.format(course.startDate,'dd-MM-yyyy HH:mm')}"></span>
                                                                            <span th:if="*{course.endDate != null}" th:text="| - ${#dates.format(course.endDate,'dd-MM-yyyy HH:mm')}|"></span>
                                                                        </div>
                                                                        <p class="text-dark-75 fw-bold fs-5 m-0 text-truncate" th:text="${course.description.length() != 0 ? course.description : 'Không có mô tả'}"></p>
                                                                    </div>
                                                                    <div class="pt-5">
                                                                        <a th:href="@{/student/view(id=*{course.courseId})}" class="btn btn-primary w-100 py-3">Truy cập</a>
                                                                    </div>
                                                                </div>
                                                                <!--end::Body-->
                                                            </div>
                                                            <!--end::Statistics Widget 1-->
                                                        </div>
                                                    </th:block>
                                                </div>
                                                <!--end::Row-->
                                            </div>
                                            <!--end::Tap pane-->
                                            <!--begin::Tap pane-->
                                            <div class="tab-pane fade" id="kt_table_widget_4_tab_3">
                                                <!--begin::Row-->
                                                <div class="row g-5 g-xl-8">
                                                    <th:block th:if="${nEnrollC != null}">
                                                        <div class="col-xl-4" th:each="course, iState : ${nEnrollC}">
                                                            <!--begin::Statistics Widget 1-->
                                                            <div class="card bgi-no-repeat card-xl-stretch mb-xl-8">
                                                                <!--begin::Body-->
                                                                <div class="card-body d-flex flex-column">
                                                                    <div style="min-height: 140px">
                                                                        <a th:href="@{/student/view(id=*{course.courseId})}" class="card-title fw-bolder text-muted text-hover-primary fs-4" th:text="|*{course.shortName} - *{course.fullName}|"></a>
                                                                        <div class="fw-bolder text-primary my-6">
                                                                            <span th:if="*{course.startDate != null}" th:text="${#dates.format(course.startDate,'dd-MM-yyyy HH:mm')}"></span>
                                                                            <span th:if="*{course.endDate != null}" th:text="| - ${#dates.format(course.endDate,'dd-MM-yyyy HH:mm')}|"></span>
                                                                        </div>
                                                                        <p class="text-dark-75 fw-bold fs-5 m-0 text-truncate" th:text="${course.description.length() != 0 ? course.description : 'Không có mô tả'}"></p>
                                                                    </div>
                                                                    <div class="pt-5">
                                                                        <a th:href="@{/student/view(id=*{course.courseId})}" class="btn btn-primary w-100 py-3">Truy cập</a>
                                                                    </div>
                                                                </div>
                                                                <!--end::Body-->
                                                            </div>
                                                            <!--end::Statistics Widget 1-->
                                                        </div>
                                                    </th:block>
                                                </div>
                                                <!--end::Row-->
                                            </div>
                                            <!--end::Tap pane-->
                                        </div>
                                    </div>
                                    <!--end::Body-->
                                </div>
                                <!--end::Tables Widget 4-->
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Modals-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Post-->
            </div>
            <!--end::Content-->
            <!--begin::Footer-->
            <div th:replace="~{/layout/footer::footer}"></div>
            <!--end::Footer-->
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Page-->
</div>
<!--end::Root-->
<div th:replace="~{/layout/footer::footer1}"></div>

<div th:replace="~{/layout/include::script}"></div>
</body>
</html>