<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <div th:replace="~{/layout/include:: head/link}"></div>
    <title th:text="|Khóa học ${course.fullName}|"></title>
</head>
<!--begin::Body-->
<body id="kt_body"
      class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed toolbar-tablet-and-mobile-fixed aside-enabled aside-fixed"
      style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">
<!--begin::Root-->
<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="page d-flex flex-row flex-column-fluid">
        <!--begin::Aside-->
        <div th:replace="~{/layout/aside::aside}"></div>
        <!--end::Aside-->
        <!--begin::Wrapper-->
        <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
            <!--begin::Header-->
            <div th:replace="~{/layout/header::header}"></div>
            <!--end::Header-->
            <!--begin::Content-->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <!--begin::Toolbar-->
                <div class="toolbar" id="kt_toolbar">
                    <!--begin::Container-->
                    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                        <!--begin::Page title-->
                        <div data-kt-place="true" data-kt-place-mode="prepend"
                             data-kt-place-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
                             class="page-title d-flex align-items-center me-3 flex-wrap mb-5 mb-lg-0 lh-1">
                            <!--begin::Title-->
                            <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3"
                                th:text="${course.fullName}"></h1>
                            <!--end::Title-->
                            <!--begin::Separator-->
                            <span class="h-20px border-gray-200 border-start mx-4"></span>
                            <!--end::Separator-->
                            <!--begin::Breadcrumb-->
                            <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                                <!--begin::Item-->
                                <li class="breadcrumb-item text-muted">
                                    <a th:href="@{/afterLogin}" class="text-muted text-hover-primary">Bảng điều
                                        khiển</a>
                                </li>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <li class="breadcrumb-item">
                                    <span class="bullet bg-gray-200 w-5px h-2px"></span>
                                </li>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <li class="breadcrumb-item text-muted">Khóa học của bạn</li>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <li class="breadcrumb-item">
                                    <span class="bullet bg-gray-200 w-5px h-2px"></span>
                                </li>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <li class="breadcrumb-item text-dark"
                                    th:text="|${course.shortName} - ${course.fullName}|"></li>
                                <!--end::Item-->
                            </ul>
                            <!--end::Breadcrumb-->
                        </div>
                        <!--end::Page title-->

                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Toolbar-->
                <!--begin::Post-->
                <div class="post d-flex flex-column-fluid" id="kt_post">
                    <!--begin::Container-->
                    <div id="kt_content_container" class="container">
                        <th:block th:each="section : ${course.courseSections}">
                            <!-- begin:Section -->
                            <div class="col-xl-12" th:style="${section.visible ? '' : 'display:none;'}" th:if="${section.status}">
                                <!--begin::Tables Widget 9-->
                                <div class="card card-xxl-stretch mb-5 mb-xl-8">
                                    <!--begin::Header-->
                                    <div class="card-header border-0 pt-5">
                                        <h3 class="card-title align-items-start flex-column">
                                            <span class="card-label fw-bolder fs-3 mb-1"
                                                  th:text="*{section.courseSectionName}">
                                            </span>
                                            <span class="badge badge-light-success opacity-100"
                                                  th:if="*{!section.visible}">Ẩn với sinh viên</span>
                                            <span class="text-muted mt-1 fw-bold fs-7"
                                                  th:text="*{section.courseSummary}"></span>
                                        </h3>
                                    </div>
                                    <!--end::Header-->
                                    <!--begin::Body-->
                                    <div class="card-body py-0">
                                        <!--begin::Table container-->
                                        <div class="table-responsive">
                                            <!--begin::Table-->
                                            <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-3">
                                                <!--begin::Table head-->
                                                <thead>
                                                <tr class="fw-bolder text-muted">
                                                    <th class="w-25px">
                                                    </th>
                                                    <th class="min-w-150px"></th>
                                                    <th class="min-w-140px"></th>
                                                    <th class="min-w-120px"></th>
                                                    <th class="min-w-100px text-end"></th>
                                                </tr>
                                                </thead>
                                                <!--end::Table head-->
                                                <!--begin::Table body-->
                                                <tbody>
                                                <th:block  th:each="courseModule : *{section.courseModules}">
                                                    <th:block th:if="${courseModule.visible}">
                                                    <tr th:if="*{courseModule.status}" th:style="${courseModule.visible ? '' : 'display: none;'}">
                                                        <td>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                                <div class="symbol symbol-45px me-5">
                                                                    <img th:src="@{|/img/*{courseModule.typeName}.png|}" style="width: 35px;"  alt="icon">
                                                                </div>
                                                                <div class="d-flex justify-content-start flex-column">
                                                                    <a th:href="@{/student/viewModule(id=*{courseModule.courseModuleId})}"
                                                                       class="text-dark fw-bolder text-hover-primary fs-6" th:text="*{courseModule.name}"></a>
                                                                    <span class="text-muted fw-bold d-block fs-7 badge badge-light-success" th:if="*{!courseModule.visible}">Ẩn với sinh viên</span>
                                                                    <span class="badge badge-light-primary" th:if="*{courseModule.showDescription}" th:text="*{courseModule.description}"></span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td></td>
                                                        <td class="text-end"></td>
                                                        <td class="text-end">
                                                        </td>
                                                    </tr>
                                                    </th:block>
                                                </th:block>
                                                </tbody>
                                                <!--end::Table body-->
                                            </table>

                                            <!--end::Table-->
                                        </div>
                                        <!--end::Table container-->
                                    </div>
                                    <!--begin::Body-->
                                </div>
                                <!--end::Tables Widget 9-->
                            </div>
                            <!-- end:Section -->
                        </th:block>
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Post-->
            </div>
            <!--end::Content-->
            <!--begin::Footer-->
            <div th:replace="~{/layout/footer::footer}"></div>
            <!--end::Footer-->
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Page-->
</div>
<!--end::Root-->
<div th:replace="~{/layout/footer::footer1}"></div>
<div th:replace="~{/layout/include::script}"></div>
</body>
</html>