<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <div th:replace="~{/layout/include:: head/link}"></div>
    <title th:text="|Khóa học ${oCourse.fullName}|"></title>
</head>
<!--begin::Body-->
<body id="kt_body"
      class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed toolbar-tablet-and-mobile-fixed aside-enabled aside-fixed"
      style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">
<!--begin::Root-->
<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="page d-flex flex-row flex-column-fluid">
        <!--begin::Aside-->
        <div th:replace="~{/layout/aside::aside}"></div>
        <!--end::Aside-->
        <!--begin::Wrapper-->
        <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
            <!--begin::Header-->
            <div th:replace="~{/layout/header::header}"></div>
            <!--end::Header-->
            <!--begin::Content-->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <!--begin::Toolbar-->
                <div class="toolbar" id="kt_toolbar">
                    <!--begin::Container-->
                    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                        <!--begin::Page title-->
                        <div data-kt-place="true" data-kt-place-mode="prepend"
                             data-kt-place-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
                             class="page-title d-flex align-items-center me-3 flex-wrap mb-5 mb-lg-0 lh-1">
                            <!--begin::Title-->
                            <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3"
                                th:text="${oCourse.fullName}"></h1>
                            <!--end::Title-->
                            <!--begin::Separator-->
                            <span class="h-20px border-gray-200 border-start mx-4"></span>
                            <!--end::Separator-->
                            <!--begin::Breadcrumb-->
                            <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                                <!--begin::Item-->
                                <li class="breadcrumb-item text-muted">
                                    <a th:href="@{/afterLogin}" class="text-muted text-hover-primary">Bảng điều
                                        khiển</a>
                                </li>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <li class="breadcrumb-item">
                                    <span class="bullet bg-gray-200 w-5px h-2px"></span>
                                </li>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <li class="breadcrumb-item text-muted">Khóa học của bạn</li>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <li class="breadcrumb-item">
                                    <span class="bullet bg-gray-200 w-5px h-2px"></span>
                                </li>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <li class="breadcrumb-item text-dark"
                                    th:text="|${oCourse.shortName} - ${oCourse.fullName}|"></li>
                                <!--end::Item-->
                            </ul>
                            <!--end::Breadcrumb-->
                        </div>
                        <!--end::Page title-->

                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Toolbar-->
                <!--begin::Post-->
                <div class="post d-flex flex-column-fluid" id="kt_post">
                    <!--begin::Container-->
                    <div id="kt_content_container" class="container">
                        <th:block th:each="section : ${oCourse.courseSections}">
                            <!-- begin:Section -->
                            <div class="col-xl-12" th:style="${section.visible ? '' : 'opacity: .7;'}" th:if="${section.status}">
                                <!--begin::Tables Widget 9-->
                                <div class="card card-xxl-stretch mb-5 mb-xl-8">
                                    <!--begin::Header-->
                                    <div class="card-header border-0 pt-5">
                                        <h3 class="card-title align-items-start flex-column">
                                            <span class="card-label fw-bolder fs-3 mb-1"
                                                  th:text="*{section.courseSectionName}">
                                            </span>
                                            <span class="badge badge-light-success opacity-100"
                                                  th:if="*{!section.visible}">Ẩn với sinh viên</span>
                                            <span class="text-muted mt-1 fw-bold fs-7"
                                                  th:text="*{section.courseSummary}"></span>
                                        </h3>
                                        <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top"
                                             data-bs-trigger="hover" title=""
                                             data-bs-original-title="Nhấn vào đây để sửa chủ đề">
                                            <!--begin::Menu-->
                                            <button type="button"
                                                    class="btn btn-sm btn-light-primary"
                                                    th:data="*{section.courseSectionId}"
                                                    th:data-name="*{section.courseSectionName}"
                                                    th:data-summary="*{section.courseSummary}"
                                                    data-kt-menu-trigger="click"
                                                    data-kt-menu-placement="bottom-end"
                                                    data-kt-menu-flip="top-end">
                                                <!--begin::Svg Icon | path: icons/duotone/Layout/Layout-4-blocks-2.svg-->
                                                <span class="svg-icon svg-icon-3">
																			<svg xmlns="http://www.w3.org/2000/svg"
                                                                                 width="24px" height="24px"
                                                                                 viewBox="0 0 24 24" version="1.1">
																				<path d="M12.2674799,18.2323597 L12.0084872,5.45852451 C12.0004303,5.06114792 12.1504154,4.6768183 12.4255037,4.38993949 L15.0030167,1.70195304 L17.5910752,4.40093695 C17.8599071,4.6812911 18.0095067,5.05499603 18.0083938,5.44341307 L17.9718262,18.2062508 C17.9694575,19.0329966 17.2985816,19.701953 16.4718324,19.701953 L13.7671717,19.701953 C12.9505952,19.701953 12.2840328,19.0487684 12.2674799,18.2323597 Z"
                                                                                      fill="#000000" fill-rule="nonzero"
                                                                                      transform="translate(14.701953, 10.701953) rotate(-135.000000) translate(-14.701953, -10.701953)"></path>
																				<path d="M12.9,2 C13.4522847,2 13.9,2.44771525 13.9,3 C13.9,3.55228475 13.4522847,4 12.9,4 L6,4 C4.8954305,4 4,4.8954305 4,6 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,6 C2,3.790861 3.790861,2 6,2 L12.9,2 Z"
                                                                                      fill="#000000" fill-rule="nonzero"
                                                                                      opacity="0.3"></path>
																			</svg>
																		</span>Sửa
                                                <!--end::Svg Icon-->
                                            </button>
                                            <!--begin::Menu 3-->
                                            <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-bold w-200px py-3"
                                                 data-kt-menu="true" style="">
                                                <!--begin::Menu item-->
                                                <div class="menu-item px-3">
                                                    <a href="#" class="menu-link px-3" data-bs-toggle="modal"
                                                       data-bs-target="#kt_modal_update_section">Sửa chủ đề</a>
                                                </div>
                                                <!--end::Menu item-->
                                                <!--begin::Menu item-->
                                                <div class="menu-item px-3">
                                                    <a href="#" class="menu-link flex-stack px-3"
                                                       data-kt-section="hidden_section"
                                                       th:data="*{section.courseSectionId}">
                                                        <span th:text="*{section.visible ? 'Ẩn chủ đề' : 'Hiện chủ đề'}"></span>
                                                        <i class="fas fa-exclamation-circle ms-2 fs-7"
                                                           data-bs-toggle="tooltip" title=""
                                                           data-bs-original-title="Chủ đề bị ẩn sẽ không hiện với sinh viên"
                                                           aria-label="Chủ đề bị ẩn sẽ không hiện với sinh viên"></i></a>
                                                </div>
                                                <!--end::Menu item-->
                                                <!--begin::Menu item-->
                                                <div class="menu-item px-3">
                                                    <a href="#" class="menu-link px-3"
                                                       data-kt-section="delete_section"
                                                       th:data="*{section.courseSectionId}">Xóa chủ đề</a>
                                                </div>
                                                <!--end::Menu item-->
                                            </div>
                                            <!--end::Menu 3-->
                                            <!--end::Menu-->
                                        </div>

                                    </div>
                                    <!--end::Header-->
                                    <!--begin::Body-->
                                    <div class="card-body py-3">
                                        <!--begin::Table container-->
                                        <div class="table-responsive">
                                            <!--begin::Table-->
                                            <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                                                <!--begin::Table head-->
                                                <thead>
                                                <tr class="fw-bolder text-muted">
                                                    <th class="w-25px">
                                                    </th>
                                                    <th class="min-w-150px"></th>
                                                    <th class="min-w-140px"></th>
                                                    <th class="min-w-120px"></th>
                                                    <th class="min-w-100px text-end"></th>
                                                </tr>
                                                </thead>
                                                <!--end::Table head-->
                                                <!--begin::Table body-->
                                                <tbody>
                                                <th:block  th:each="courseModule : *{section.courseModules}">
                                                <tr th:if="*{courseModule.status}" th:style="${courseModule.visible ? '' : 'opacity: .7;'}">
                                                    <td>
<!--                                                        <div class="form-check form-check-sm form-check-custom form-check-solid">-->
<!--                                                            <input class="form-check-input widget-9-check"-->
<!--                                                                   type="checkbox" value="1">-->
<!--                                                        </div>-->
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="symbol symbol-45px me-5">
                                                                <img th:src="@{|/img/*{courseModule.typeName}.png|}" style="width: 35px;"  alt="icon">
                                                            </div>
                                                            <div class="d-flex justify-content-start flex-column">
                                                                <a th:href="@{/teacher/viewModule(id=*{courseModule.courseModuleId})}"
                                                                   class="text-dark fw-bolder text-hover-primary fs-6" th:text="*{courseModule.name}"></a>
                                                                <span class="text-muted fw-bold d-block fs-7 badge badge-light-success" th:if="*{!courseModule.visible}">Ẩn với sinh viên</span>
                                                                <span class="badge badge-light-primary" th:if="*{courseModule.showDescription}" th:text="*{courseModule.description}"></span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td></td>
                                                    <td class="text-end"></td>
                                                    <td class="text-end">
                                                        <button href="#"
                                                                th:data="*{courseModule.courseModuleId}"
                                                           class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1 btn-hs"
                                                           data-bs-trigger="hover"
                                                           data-bs-original-title="Ẩn/Hiện tài nguyên"
                                                           data-bs-toggle="tooltip"
                                                        >
                                                            <i class="bi bi-eye-slash fs-2"
                                                               th:classappend="${courseModule.visible ? '': 'd-none'}"></i>
                                                            <i class="bi bi-eye fs-2" th:classappend="${!courseModule.visible ? '': 'd-none'}"></i>
                                                        </button>
                                                        <a th:href="@{/teacher/editModule(type=*{courseModule.typeName}, id=*{courseModule.courseModuleId})}"
                                                           data-bs-trigger="hover"
                                                           data-bs-original-title="Sửa tài nguyên"
                                                           data-bs-toggle="tooltip"
                                                           class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                                            <!--begin::Svg Icon | path: icons/duotone/Communication/Write.svg-->
                                                            <span class="svg-icon svg-icon-3">
																			<svg xmlns="http://www.w3.org/2000/svg"
                                                                                 width="24px" height="24px"
                                                                                 viewBox="0 0 24 24" version="1.1">
																				<path d="M12.2674799,18.2323597 L12.0084872,5.45852451 C12.0004303,5.06114792 12.1504154,4.6768183 12.4255037,4.38993949 L15.0030167,1.70195304 L17.5910752,4.40093695 C17.8599071,4.6812911 18.0095067,5.05499603 18.0083938,5.44341307 L17.9718262,18.2062508 C17.9694575,19.0329966 17.2985816,19.701953 16.4718324,19.701953 L13.7671717,19.701953 C12.9505952,19.701953 12.2840328,19.0487684 12.2674799,18.2323597 Z"
                                                                                      fill="#000000" fill-rule="nonzero"
                                                                                      transform="translate(14.701953, 10.701953) rotate(-135.000000) translate(-14.701953, -10.701953)"></path>
																				<path d="M12.9,2 C13.4522847,2 13.9,2.44771525 13.9,3 C13.9,3.55228475 13.4522847,4 12.9,4 L6,4 C4.8954305,4 4,4.8954305 4,6 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,6 C2,3.790861 3.790861,2 6,2 L12.9,2 Z"
                                                                                      fill="#000000" fill-rule="nonzero"
                                                                                      opacity="0.3"></path>
																			</svg>
																		</span>
                                                            <!--end::Svg Icon-->
                                                        </a>
                                                        <button
                                                                th:data="*{courseModule.courseModuleId}"
                                                                th:data-title="*{courseModule.name}"
                                                           data-bs-trigger="hover"
                                                           data-bs-original-title="Xóa tài nguyên"
                                                           data-bs-toggle="tooltip"
                                                           class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm btn-dl">
                                                            <!--begin::Svg Icon | path: icons/duotone/General/Trash.svg-->
                                                            <span class="svg-icon svg-icon-3">
																			<svg xmlns="http://www.w3.org/2000/svg"
                                                                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 width="24px" height="24px"
                                                                                 viewBox="0 0 24 24" version="1.1">
																				<g stroke="none" stroke-width="1"
                                                                                   fill="none" fill-rule="evenodd">
																					<rect x="0" y="0" width="24"
                                                                                          height="24"></rect>
																					<path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z"
                                                                                          fill="#000000"
                                                                                          fill-rule="nonzero"></path>
																					<path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z"
                                                                                          fill="#000000"
                                                                                          opacity="0.3"></path>
																				</g>
																			</svg>
																		</span>
                                                            <!--end::Svg Icon-->
                                                        </button>
                                                    </td>
                                                </tr>
                                                </th:block>
                                                </tbody>
                                                <!--end::Table body-->
                                            </table>

                                            <!--end::Table-->
                                        </div>
                                        <!--end::Table container-->
                                    </div>
                                    <!--begin::Body-->

                                    <!--begin::Footer_Section-->
                                    <div class="card-header border-0 add-module">
                                        <h3 class="card-title align-items-start flex-column"></h3>
                                        <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top"
                                             data-bs-trigger="hover" title=""
                                             data-bs-original-title="Nhấn vào đây để thêm tài nguyên">
                                            <!--begin::Menu-->
                                            <button type="button"
                                                    class="btn btn-sm btn-light-primary"
                                                    th:data="*{section.courseSectionId}"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#kt_modal_add_resource"
                                                    data-kt-menu-trigger="click"
                                                    data-kt-menu-placement="bottom-end"
                                                    data-kt-menu-flip="top-end">
                                                <!--begin::Svg Icon | path: icons/duotone/Layout/Layout-4-blocks-2.svg-->
                                                <span class="svg-icon svg-icon-3">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
													<path opacity="0.25" fill-rule="evenodd" clip-rule="evenodd" d="M6.54184 2.36899C4.34504 2.65912 2.65912 4.34504 2.36899 6.54184C2.16953 8.05208 2 9.94127 2 12C2 14.0587 2.16953 15.9479 2.36899 17.4582C2.65912 19.655 4.34504 21.3409 6.54184 21.631C8.05208 21.8305 9.94127 22 12 22C14.0587 22 15.9479 21.8305 17.4582 21.631C19.655 21.3409 21.3409 19.655 21.631 17.4582C21.8305 15.9479 22 14.0587 22 12C22 9.94127 21.8305 8.05208 21.631 6.54184C21.3409 4.34504 19.655 2.65912 17.4582 2.36899C15.9479 2.16953 14.0587 2 12 2C9.94127 2 8.05208 2.16953 6.54184 2.36899Z" fill="#12131A"></path>
													<path fill-rule="evenodd" clip-rule="evenodd" d="M12 17C12.5523 17 13 16.5523 13 16V13H16C16.5523 13 17 12.5523 17 12C17 11.4477 16.5523 11 16 11H13V8C13 7.44772 12.5523 7 12 7C11.4477 7 11 7.44772 11 8V11H8C7.44772 11 7 11.4477 7 12C7 12.5523 7.44771 13 8 13H11V16C11 16.5523 11.4477 17 12 17Z" fill="#12131A"></path>
												</svg>
											</span>Thêm tài nguyên
                                                <!--end::Svg Icon-->
                                            </button>

                                            <!--end::Menu-->
                                        </div>

                                    </div>
                                    <!--end::Footer_Section-->
                                </div>
                                <!--end::Tables Widget 9-->
                            </div>
                            <!-- end:Section -->
                        </th:block>
                        <!--  begin:Add Section Btn    -->
                        <div class="card card-xxl mb-5 mb-xl-8">
                            <!--begin::Action-->
                            <button class="btn btn-primary align-items-sm-end" data-bs-toggle="modal"
                                    data-bs-target="#kt_modal_add_section" th:data="${oCourse.courseId}">Thêm chủ đề
                            </button>
                            <!--end::Action-->
                        </div>
                        <!-- end:Add Section Btn-->
                        <!--begin::Modal - Add Section-->
                        <div class="modal fade" id="kt_modal_add_section" tabindex="-1" aria-hidden="true">
                            <!--begin::Modal dialog-->
                            <div class="modal-dialog modal-dialog-centered mw-650px">
                                <!--begin::Modal content-->
                                <div class="modal-content">
                                    <!--begin::Modal header-->
                                    <div class="modal-header">
                                        <!--begin::Modal title-->
                                        <h2 class="fw-bolder">Thêm chủ đề</h2>
                                        <!--end::Modal title-->
                                        <!--begin::Close-->
                                        <div class="btn btn-icon btn-sm btn-active-icon-primary"
                                             data-kt-permissions-modal-action="close">
                                            <!--begin::Svg Icon | path: icons/duotone/Navigation/Close.svg-->
                                            <span class="svg-icon svg-icon-1">
														<svg xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                             height="24px" viewBox="0 0 24 24" version="1.1">
															<g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)"
                                                               fill="#000000">
																<rect fill="#000000" x="0" y="7" width="16" height="2"
                                                                      rx="1"></rect>
																<rect fill="#000000" opacity="0.5"
                                                                      transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)"
                                                                      x="0" y="7" width="16" height="2" rx="1"></rect>
															</g>
														</svg>
													</span>
                                            <!--end::Svg Icon-->
                                        </div>
                                        <!--end::Close-->
                                    </div>
                                    <!--end::Modal header-->
                                    <!--begin::Modal body-->
                                    <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                                        <!--begin::Form-->
                                        <form id="kt_modal_add_section_form"
                                              class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#">
                                            <!--begin::Input group-->
                                            <div class="fv-row mb-7 fv-plugins-icon-container">
                                                <!--begin::Label-->
                                                <label class="fs-6 fw-bold form-label mb-2">
                                                    <span class="required">Số chủ đề</span>
                                                    <i class="fas fa-exclamation-circle ms-2 fs-7"
                                                       data-bs-toggle="popover" data-bs-trigger="hover"
                                                       data-bs-html="true"
                                                       data-bs-content="Nhập số lượng chủ đề."
                                                       data-bs-original-title="" title=""></i>
                                                </label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="hidden" name="courseID" id="courseID"
                                                       th:value="${oCourse.courseId}">
                                                <input type="number" value="1"
                                                       class="form-control form-control-solid"
                                                       placeholder="Nhập sô chủ đề cần thêm"
                                                       name="number_section">
                                                <!--end::Input-->

                                            </div>
                                            <!--end::Input group-->
                                            <!--begin::Actions-->
                                            <div class="text-center pt-15">
                                                <button type="reset" class="btn btn-white me-3"
                                                        data-kt-permissions-modal-action="cancel">Hủy bỏ
                                                </button>
                                                <button type="submit" class="btn btn-primary"
                                                        data-kt-permissions-modal-action="submit">
                                                    <span class="indicator-label">Thêm chủ đề</span>
                                                    <span class="indicator-progress">Vui lòng chờ...
															<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                                </button>
                                            </div>
                                            <!--end::Actions-->
                                            <div></div>
                                        </form>
                                        <!--end::Form-->
                                    </div>
                                    <!--end::Modal body-->
                                </div>
                                <!--end::Modal content-->
                            </div>
                            <!--end::Modal dialog-->
                        </div>
                        <!--end::Modal - Add Section-->
                        <!--begin::Modal - Update Section-->
                        <div class="modal fade" id="kt_modal_update_section" tabindex="-1" aria-hidden="true">
                            <!--begin::Modal dialog-->
                            <div class="modal-dialog modal-dialog-centered mw-650px">
                                <!--begin::Modal content-->
                                <div class="modal-content">
                                    <!--begin::Modal header-->
                                    <div class="modal-header">
                                        <!--begin::Modal title-->
                                        <h2 class="fw-bolder">Sửa chủ đề</h2>
                                        <!--end::Modal title-->
                                        <!--begin::Close-->
                                        <div class="btn btn-icon btn-sm btn-active-icon-primary"
                                             data-kt-permissions-modal-action="close">
                                            <!--begin::Svg Icon | path: icons/duotone/Navigation/Close.svg-->
                                            <span class="svg-icon svg-icon-1">
														<svg xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                             height="24px" viewBox="0 0 24 24" version="1.1">
															<g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)"
                                                               fill="#000000">
																<rect fill="#000000" x="0" y="7" width="16" height="2"
                                                                      rx="1"></rect>
																<rect fill="#000000" opacity="0.5"
                                                                      transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)"
                                                                      x="0" y="7" width="16" height="2" rx="1"></rect>
															</g>
														</svg>
													</span>
                                            <!--end::Svg Icon-->
                                        </div>
                                        <!--end::Close-->
                                    </div>
                                    <!--end::Modal header-->
                                    <!--begin::Modal body-->
                                    <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">

                                        <!--begin::Form-->
                                        <form id="kt_modal_update_section_form"
                                              class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#">
                                            <!--begin::Input group-->
                                            <input type="hidden" name="id_section" id="idSection">
                                            <input type="hidden" name="name_section" id="nameSection">
                                            <div class="fv-row mb-7 fv-plugins-icon-container">
                                                <label class="form-check form-check-inline form-check-solid me-5">
                                                    <input class="form-check-input" name="customName" type="checkbox"
                                                           value="0">
                                                    <span class="fw-bold ps-2 fs-6">Tùy chỉnh</span>
                                                </label>
                                                <br><br>
                                                <!--begin::Label-->
                                                <label class="fs-6 fw-bold form-label mb-2">
                                                    <span class="required">Tên chủ đề</span>
                                                    <i class="fas fa-exclamation-circle ms-2 fs-7"
                                                       data-bs-toggle="popover" data-bs-trigger="hover"
                                                       data-bs-html="true"
                                                       data-bs-content="Nhấn tùy chỉnh bên trên để sửa tên chủ đề."
                                                       data-bs-original-title="" title=""></i>
                                                </label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input class="form-control form-control-solid bg-dark"
                                                       placeholder="Nhập tên chủ đề"
                                                       name="update_section_name" disabled>
                                                <!--end::Input-->
                                                <div class="fv-plugins-message-container invalid-feedback"></div>
                                            </div>
                                            <!--end::Input group-->
                                            <!--begin::Input group-->
                                            <div class="fv-row mb-7 fv-plugins-icon-container">
                                                <!--begin::Label-->
                                                <label class="fs-6 fw-bold form-label mb-2">
                                                    <span class="required">Tóm tắt chủ đề</span>
                                                    <i class="fas fa-exclamation-circle ms-2 fs-7"
                                                       data-bs-toggle="popover" data-bs-trigger="hover"
                                                       data-bs-html="true"
                                                       data-bs-content="Nhập thông tin tóm tắt chủ đề."
                                                       data-bs-original-title="" title=""></i>
                                                </label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <textarea class="form-control form-control-solid"
                                                          placeholder="Nhập thông tin chi tiết chủ đề"
                                                          name="update_description"></textarea>
                                                <!--end::Input-->
                                                <div class="fv-plugins-message-container invalid-feedback"></div>
                                            </div>
                                            <!--end::Input group-->
                                            <!--begin::Actions-->
                                            <div class="text-center pt-15">
                                                <button type="reset" class="btn btn-white me-3"
                                                        data-kt-permissions-modal-action="cancel">Hủy bỏ
                                                </button>
                                                <button type="submit" class="btn btn-primary"
                                                        data-kt-permissions-modal-action="submit">
                                                    <span class="indicator-label">Cập nhật</span>
                                                    <span class="indicator-progress">Vui lòng chờ...
															<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                                </button>
                                            </div>
                                            <!--end::Actions-->
                                            <div></div>
                                        </form>
                                        <!--end::Form-->
                                    </div>
                                    <!--end::Modal body-->
                                </div>
                                <!--end::Modal content-->
                            </div>
                            <!--end::Modal dialog-->
                        </div>
                        <!--end::Modal - Update Section-->
                        <!--begin::Modal - Add Resource-->
                        <div class="modal fade" id="kt_modal_add_resource" tabindex="-1" aria-hidden="true">
                            <!--begin::Modal dialog-->
                            <div class="modal-dialog modal-dialog-centered mw-650px">
                                <!--begin::Modal content-->
                                <div class="modal-content">
                                    <!--begin::Modal header-->
                                    <div class="modal-header">
                                        <!--begin::Modal title-->
                                        <h2 class="fw-bolder">Thêm Tài Nguyên</h2>
                                        <!--end::Modal title-->
                                        <!--begin::Close-->
                                        <div class="btn btn-icon btn-sm btn-active-icon-primary"
                                             data-kt-permissions-modal-action="close">
                                            <!--begin::Svg Icon | path: icons/duotone/Navigation/Close.svg-->
                                            <span class="svg-icon svg-icon-1">
														<svg xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                             height="24px" viewBox="0 0 24 24" version="1.1">
															<g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)"
                                                               fill="#000000">
																<rect fill="#000000" x="0" y="7" width="16" height="2"
                                                                      rx="1"></rect>
																<rect fill="#000000" opacity="0.5"
                                                                      transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)"
                                                                      x="0" y="7" width="16" height="2" rx="1"></rect>
															</g>
														</svg>
													</span>
                                            <!--end::Svg Icon-->
                                        </div>
                                        <!--end::Close-->
                                    </div>
                                    <!--end::Modal header-->
                                    <!--begin::Modal body-->
                                    <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                                        <!--begin::Form-->
                                        <form id="kt_modal_add_resource_form"
                                              class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#">
                                            <!--begin::Input group-->
                                            <div class="fv-row mb-7 fv-plugins-icon-container">
                                                <!--begin::Resource-->
                                                <div class="row g-6 g-xl-9 mb-6 mb-xl-9">
                                                    <input type="hidden" name="courseSectionID" id="courseSectionID">
                                                    <!--begin::Col-->
                                                    <div class="col-12 col-sm-12 col-xl">
                                                        <!--begin::Card-->
                                                        <div class="card h-100 bg-light-dark">
                                                            <!--begin::Card body-->
                                                            <div class="card-body d-flex justify-content-center text-center flex-column p-8">
                                                                <!--begin::Name-->
                                                                <a href="#" th:data-type="Assignment" class="text-gray-800 text-hover-primary d-flex flex-column">
                                                                    <!--begin::Image-->
                                                                    <div class="symbol symbol-60px mb-6">
                                                                        <img th:src="@{/img/Assignment.png}" alt="">
                                                                    </div>
                                                                    <!--end::Image-->
                                                                    <!--begin::Title-->
                                                                    <div class="fs-5 fw-bolder mb-2">Assignment</div>
                                                                    <!--end::Title-->
                                                                </a>
                                                                <!--end::Name-->
                                                                <!--begin::Description-->
                                                                <div class="fs-7 fw-bold text-gray-400 mt-auto">Bài tập lớn</div>
                                                                <!--end::Description-->
                                                            </div>
                                                            <!--end::Card body-->
                                                        </div>
                                                        <!--end::Card-->

                                                    </div>
                                                    <!--end::Col-->
                                                    <!--begin::Col-->
                                                    <div class="col-12 col-sm-12 col-xl">
                                                        <!--begin::Card-->
                                                        <div class="card h-100 bg-light-dark">
                                                            <!--begin::Card body-->
                                                            <div class="card-body d-flex justify-content-center text-center flex-column p-8">
                                                                <!--begin::Name-->
                                                                <a href="#" th:data-type="Quiz" class="text-gray-800 text-hover-primary d-flex flex-column">
                                                                    <!--begin::Image-->
                                                                    <div class="symbol symbol-60px mb-6">
                                                                        <img th:src="@{/img/Quiz.png}" alt="">
                                                                    </div>
                                                                    <!--end::Image-->
                                                                    <!--begin::Title-->
                                                                    <div class="fs-5 fw-bolder mb-2">Quiz</div>
                                                                    <!--end::Title-->
                                                                </a>
                                                                <!--end::Name-->
                                                                <!--begin::Description-->
                                                                <div class="fs-7 fw-bold text-gray-400 mt-auto">Bài kiểm tra</div>
                                                                <!--end::Description-->
                                                            </div>
                                                            <!--end::Card body-->
                                                        </div>
                                                        <!--end::Card-->
                                                    </div>
                                                    <!--end::Col-->
                                                    <!--begin::Col-->
                                                    <div class="col-12 col-sm-12 col-xl">
                                                        <!--begin::Card-->
                                                        <div class="card h-100 bg-light-dark">
                                                            <!--begin::Card body-->
                                                            <div class="card-body d-flex justify-content-center text-center flex-column p-8">
                                                                <!--begin::Name-->
                                                                <a href="#" th:data-type="FileModule" class="text-gray-800 text-hover-primary d-flex flex-column">
                                                                    <!--begin::Image-->
                                                                    <div class="symbol symbol-60px mb-6">
                                                                        <img th:src="@{/img/FileModule.png}" alt="">
                                                                    </div>
                                                                    <!--end::Image-->
                                                                    <!--begin::Title-->
                                                                    <div class="fs-5 fw-bolder mb-2">File</div>
                                                                    <!--end::Title-->
                                                                </a>
                                                                <!--end::Name-->
                                                                <!--begin::Description-->
                                                                <div class="fs-7 fw-bold text-gray-400 mt-auto">Tập tin</div>
                                                                <!--end::Description-->
                                                            </div>
                                                            <!--end::Card body-->
                                                        </div>
                                                        <!--end::Card-->
                                                    </div>
                                                    <!--end::Col-->
                                                </div>
                                                <!--end::Resource-->
                                            </div>
                                            <!--end::Input group-->
                                            <div></div>
                                        </form>
                                        <!--end::Form-->
                                    </div>
                                    <!--end::Modal body-->
                                </div>
                                <!--end::Modal content-->
                            </div>
                            <!--end::Modal dialog-->
                        </div>
                        <!--end::Modal - Add Resource-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Post-->
            </div>
            <!--end::Content-->
            <!--begin::Footer-->
            <div th:replace="~{/layout/footer::footer}"></div>
            <!--end::Footer-->
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Page-->
</div>
<!--end::Root-->
<div th:replace="~{/layout/footer::footer1}"></div>
<div th:replace="~{/layout/include::script}"></div>

<script th:src="@{/js/course/updateSection.js}"></script>
<script th:src="@{/js/course/deleteSection.js}"></script>
<script th:src="@{/js/course/hiddenShowSection.js}"></script>
<script th:src="@{/js/course/addResource.js}"></script>
<script th:src="@{/js/course/addSection.js}"></script>
<script th:src="@{/js/module/hiddenShowModule.js}"></script>
<script th:src="@{/js/module/deleteModule.js}"></script>
</body>
</html>